In [1]:
from sqlalchemy import create_engine
from config import key
import matplotlib.pyplot as plt
import pandas as pd
from sqlalchemy import Column, Integer, String, Float
from sqlalchemy.ext.declarative import declarative_base
Base = declarative_base()

In [2]:
rds_connection_string = f"postgres:{key}@10.0.0.6:5432/employee2"
engine = create_engine(f"postgresql://{rds_connection_string}")
conn = engine.connect()
        # Base.metadata.create_all(engine)

In [3]:
# data=engine.execute("SELECT ROUND(AVG(S.SALARY),2), T.TITLE FROM EMPLOYEES AS E, SALARIES AS S, TITLES AS T WHERE E.EMP_NO=S.EMP_NO AND E.EMP_TITLE_ID=T.TITLE_ID GROUP BY T.TITLE")
data=pd.read_sql("SELECT ROUND(AVG(S.SALARY),2), T.TITLE FROM EMPLOYEES AS E, SALARIES AS S, TITLES AS T WHERE E.EMP_NO=S.EMP_NO AND E.EMP_TITLE_ID=T.TITLE_ID GROUP BY T.TITLE", conn)

In [6]:
data.head()

      round               title
0  48564.43  Assistant Engineer
1  48535.34            Engineer
2  51531.04             Manager
3  48506.80     Senior Engineer
4  58550.17        Senior Staff

In [5]:
# for record in data:
#     print(record)